# === Python ===
__pycache__/
*.py[cod]
*.so

# === Virtual Environment ===
.venv/
env/
venv/

# === Jupyter ===
.ipynb_checkpoints/

# === Logs ===
logs/
*.log

# === Results (только временные файлы, но сохраняем графики) ===
results/*.log
results/*.txt

# === Ignore datasets except .gitkeep ===
data/raw/*
!data/raw/.gitkeep

# === System Files ===
.DS_Store
Thumbs.db
